<section class="container mt-6">
  <h2 class="title has-text-centered">Enjoy the included features</h2>

  <div class="has-text-centered m-6">
    <a class="button call-to-action" href="/contact/?kind=demo">
      <span class="mr-5">Book a demo</span>
      <i class="fas fa-eye"></i>
    </a>
  </div>

  {{ $scratch := newScratch }}
  {{ $scratch.Set "feature-index" 0 }}

  {{ range $feature := .Site.Data.product.features.available }}
    {{ $index := ($scratch.Get "feature-index") }}

    {{ partial "views/offers/features/wide.html" (dict "index" $index "feature" $feature) }}
    {{ partial "views/offers/features/mobile.html" (dict "index" $index "feature" $feature) }}

    {{ $scratch.Add "feature-index" 1 }}
  {{ end }}

  <div class="has-text-centered m-6">
    <a class="button call-to-action" href="/integrations/">
      Discover our integrations &rarr;
    </a>
  </div>
</section>