<section class="container mb-6">
  <h2 class="title has-text-centered">Take advantage of our services</h2>

  {{ $list := .Site.Data.product.services.available }}
  {{ $col_count := 3 }}
  {{ $row_count := (div (len $list) $col_count) }}

  {{ range $row := (seq $row_count) }}
    {{ $offset := (mul (sub $row 1) $col_count) }}

    <div class="columns is-centered">
      {{ range $service := (first $col_count (after $offset $list)) }}
        {{ if (in $.Params.services $service.key) }}
          <div class="column is-one-quarter">
            <div class="card is-full-height">
              <div class="card-image">
                <figure class="image is-5by3">
                  <img src="{{ $service.cover }}" alt="Placeholder" />
                </figure>
              </div>
              <div class="card-content">
                <h2 class="title has-text-success is-size-4">
                  <i class="{{ $service.icon }}"></i>
                  <span class="ml-2">{{ $service.displayName}}</span>
                </h2>
                <hr/>
                <div class="content has-text-justified">
                  {{ $service.description | markdownify }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  <div class="has-text-centered m-6">
    <a class="button call-to-action" href="/contact/?kind=services">
      <span class="mr-5">Contact us</span>
      <i class="fas fa-comments"></i>
    </a>
  </div>
</section>