{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/docs/getting-started/" onclick="_gaq.push(['_trackEvent', 'kubevisor', 'getting-started']);">Getting Started</a>
    <a class="button outline big" href="/docs/products/" onclick="_gaq.push(['_trackEvent', 'kubevisor', 'products']);">See our Products</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/media/declarative-logo.png" | relURL }}" width="48">
        </figure>
        <h3>Declarative</h3>
        <p>Describe your supervision and let it run.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/media/scalable-logo.png" | relURL }}" width="48">
        </figure>
        <h3>Scalable by default</h3>
        <p>Running on Kubernetes allows automated scalability of your supervision.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/media/monitor-logo.png" | relURL }}" width="48">
        </figure>
        <h3>Monitor</h3>
        <p>See your supervision in real-time thanks to the Dashboard.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/media/kubernetes-logo.png" | relURL }}" width="48">
        </figure>
        <h4>Designed for Kubernetes</h4>
        <p>Every component is designed to run on Kubernetes and exploits its full potential.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/media/probes-logo.png" | relURL }}" width="48">
        </figure>
        <h4>Many Probes Available</h4>
        <p>A large set of probes to monitor your cluster is available (free & pro).</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/media/notify-logo.png" | relURL }}" width="48">
        </figure>
        <h4>Notify everywhere</h4>
        <p>We support a large number of service to be notified of your check results.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
