<template id="kubirds-webcomp-newsletter-widget">
  <div class="pageloader is-bottom-to-top">
    <span class="title has-text-link">Subscribing</span>
    <span class="title has-text-link is-hidden">An error occured</span>
  </div>

  <section class="hero has-background-slategray is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">Subscribe to our newsletter</h1>

        <div class="columns is-centered">
          <div class="column is-two-thirds">
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input class="kubirds-newsletter-field-email input is-large is-success" type="email" placeholder="Email" />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <div class="control">
                <button class="kubirds-newsletter-subscribe button is-large is-success">
                  Subscribe
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script type="application/javascript">
  MicroWebComponent.extends({
    tag: 'kubirds-newsletter-widget',
    template: 'kubirds-webcomp-newsletter-widget',
    render(instance) {
      const el = $(instance)

      const field = el.find('.kubirds-newsletter-field-email')
      const button = el.find('.kubirds-newsletter-subscribe')

      button.on('click', () => {
        const email = field.val()

        if (email.length > 0) {
          el.find('.pageloader').addClass('is-active')
          field.val('')

          setTimeout(
            () => {
              $.get({
                url: '/.netlify/functions/newsletter-subscribe',
                data: { email }
              })
                .done(() => el.find('.pageloader').removeClass('is-active'))
                .fail(err => {
                  console.error(err.responseJSON)

                  el.find('.pageloader span').toggleClass('is-hidden')

                  setTimeout(
                    () => {
                      el.find('.pageloader span').toggleClass('is-hidden')
                      el.find('.pageloader').removeClass('is-active')
                    },
                    2000 // this let's the message "an error occured" be seen
                  )
                })
            },
            1000 // this let's the message "subscribing" be seen
          )
        }
      })
    }
  })
</script>
