<section class="section my-6">
  <div class="columns is-vcentered">
    <div class="column is-half">
      <h1 class="title">
        {{ .Page.Params.integrations.title }}
      </h1>

      <div class="content is-size-4 has-text-grey">
        {{ .Page.Params.integrations.description | markdownify }}
      </div>

      <div class="has-text-centered">
        <a class="button call-to-action" href="/integrations">
          Browse our catalog &rarr;
        </a>
      </div>
    </div>
    <div class="column is-half">
      <img src="/img/integrations/_highlighted.png" />
    </div>
  </div>
</section>
