<section class="section has-background-white">
  <div class="columns is-vcentered">
    <div class="column is-half p-6">
      <p class="title">{{ .Page.Params.introduction.engine.title }}</p>

      <div class="content is-size-4 has-text-grey">
        {{ .Page.Params.introduction.engine.description | markdownify }}
      </div>

      <div class="has-text-centered">
        {{ range .Page.Params.introduction.engine.calls_to_action }}
          <a class="button call-to-action" href="{{ .url }}">
            {{ .name | safeHTML }}
          </a>
        {{ end }}
      </div>
    </div>
    <div class="column is-half">
      <figure class="image">
        <img src="{{ .Page.Params.introduction.engine.image }}" alt="Kubirds Engine Schema" />
      </figure>
    </div>
  </div>
</section>

<section class="section has-background-white">
  <div class="columns is-vcentered">
    <div class="column is-half">
      <figure class="image m-auto">
        <img src="{{ .Page.Params.introduction.dashboard.image }}" alt="Kubirds Dashboard Screenshot" />
      </figure>
    </div>

    <div class="column is-half p-6">
      <p class="title">{{ .Page.Params.introduction.dashboard.title }}</p>

      <div class="content is-size-4 has-text-grey">
        {{ .Page.Params.introduction.dashboard.description | markdownify }}
      </div>

      <div class="has-text-centered">
        {{ range .Page.Params.introduction.dashboard.calls_to_action }}
          <a class="button call-to-action" href="{{ .url }}">
            {{ .name | safeHTML }}
          </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-vcentered">
    <div class="column is-half">
      <figure class="image m-auto" style="width: 66%;">
        <img src="{{ .Page.Params.introduction.reusable.image }}" alt="Recycle Icon" />
      </figure>
    </div>
    <div class="column is-half p-6">
      <p class="title">{{ .Page.Params.introduction.reusable.title }}</p>

      <div class="content is-size-4 has-text-grey">
        {{ .Page.Params.introduction.reusable.description | markdownify }}
      </div>

      <div class="has-text-centered">
        {{ range .Page.Params.introduction.reusable.calls_to_action }}
          <a class="button call-to-action" href="{{ .url }}">
            {{ .name | safeHTML }}
          </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>