.call-to-action {
  cursor: pointer;

  background-color: $success !important;
  color: white !important;
  transition: all 0.3s ease-in-out;

  padding: 2em 2.5em;
  border-radius: 0;
  border: 0;

  font-family: $family-monospace;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.call-to-action:hover {
  background-color: $gun-powder !important;
  color: white !important;
}
