<div class="header">
  <div class="hTop">
    <div class="content">
      <nav>
        <div class="hSms" id="hSms">
          <span></span>
          <span></span>
        </div>

        <h1>
          <a href="/" class="hLogo">
            <img src="/gfx/Logo_Kubevisor.png" alt="Kubevisor">
          </a>
        </h1>

        <ul class="hNavSec noNav" id="hNavSec">
          <li class="hNavSNoFix"><a href="{{ .Site.Data.navigation.urls.kubernetes }}"><img src="/gfx/Logo_Kubernetes.svg" alt="Kubernetes"></a></li>
          <li><a data-fancybox="" data-type="iframe" href="{{ .Site.Data.navigation.urls.contact }}">Contact</a></li>
          <li><a href="{{ .Site.Data.navigation.urls.about }}">About us</a></li>
          <li><a href="{{ .Site.Data.navigation.urls.legals }}">Legals</a></li>
          <li class="hNavSNoFix"><a href="{{ .Site.Data.navigation.urls.github }}" target="_blank"><img src="/gfx/Logo_Github.svg" alt="Github"></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="hMenu noNav" id="hMenu">
    <div class="content">
      <nav>
        <ul class="hNav">
          {{ range .Site.Data.navigation.menu }}
            <li><a href="{{ .uri }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</div>
