.embed-tabs nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.embed-tabs nav .ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
}

.embed-tabs nav .ul .li {
    display: block;
}

.embed-tabs nav .ul .li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    vertical-align: top;
    border-bottom: 1px solid #5C5757;
    color: #5C5757;
}

.embed-tabs nav .ul .li a:hover {
    border-bottom: 1px solid #DF4F50;
    color: #DF4F50;
}

.embed-tabs nav .ul .li.is-active a {
    border-bottom: 1px solid #DF4F50;
    color: #DF4F50;
}

.embed-tabs .content {
    display: block;
    margin-top: 3em;
}

.embed-tabs .content .tab {
    display: none;
}

.embed-tabs .content .tab.is-active {
    display: block;
}
