{{ define "main" }}
  <div class="mainContent">
    <div class="content">
	    <div class="biTitre">
        <h1>Products</h1>
        <i class="icon-mdi_grade"></i>
        <a href="/services">Services</a>
      </div>

      <div class="blk">
        <ls-kubematrix></ls-kubematrix>
      </div>

    	<div class="blk">
        <h1>Consult our offers</h1>

    		<div class="dispoTable">
			    <div class="Rtable Rtable--4cols">
				    <div class="Rtable-row">
					    <div class="Rtable-cell Rtable-cell-thead"></div>
					    <div class="Rtable-cell Rtable-cell-thead prodLevel1">
                <h2><img src="/gfx/cube_blanc.svg" alt=""> Basic</h2>
              </div>
					    <div class="Rtable-cell Rtable-cell-thead prodLevel2">
                <h2><img src="/gfx/cube_blanc.svg" alt=""> Gold</h2>
              </div>
					    <div class="Rtable-cell Rtable-cell-thead prodLevel3">
                <h2><img src="/gfx/cube_blanc.svg" alt=""> Platinum</h2>
              </div>
            </div>

            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head"></div>
              <div class="Rtable-cell prodLevel1"><div class="prodPrice">{{ .Site.Data.products.meta.basic }}</div></div>
              <div class="Rtable-cell prodLevel2"><div class="prodPrice">{{ .Site.Data.products.meta.gold }}</div></div>
              <div class="Rtable-cell prodLevel3"><div class="prodPrice">{{ .Site.Data.products.meta.platinum }}</div></div>
            </div>

            <div class="Rtable-row">
              <div class="Rtable-cell tableTitre"><h2>Packs</h2></div>
            </div>

            {{ range .Site.Data.products.packs.items }}
              <div class="Rtable-row">
                <div class="Rtable-cell Rtable-cell-head">{{ .name }}</div>
                {{ $basic := "clear" }} {{ if .basic }} {{ $basic = "done" }} {{ end }}
                {{ $gold := "clear" }} {{ if .gold }} {{ $gold = "done" }} {{ end }}
                {{ $platinum := "clear" }} {{ if .platinum }} {{ $platinum = "done" }} {{ end }}

                <div class="Rtable-cell prodLevel1"><div><i class="icon-mdi_{{ $basic }}"></i></div></div>
                <div class="Rtable-cell prodLevel2"><div><i class="icon-mdi_{{ $gold }}"></i></div></div>
                <div class="Rtable-cell prodLevel3"><div><i class="icon-mdi_{{ $platinum }}"></i></div></div>
              </div>
            {{ end }}

            <div class="Rtable-row">
              <div class="Rtable-cell tableTitre"><h2>Supervision templates</h2></div>
            </div>

            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head"><b>Service Availability</b></div>
            </div>

            {{ range .Site.Data.products.supervision.availability.items }}
              <div class="Rtable-row">
                <div class="Rtable-cell Rtable-cell-head" style="padding-left: 38px;">{{ .name }}</div>
                {{ $basic := "clear" }} {{ if .basic }} {{ $basic = "done" }} {{ end }}
                {{ $gold := "clear" }} {{ if .gold }} {{ $gold = "done" }} {{ end }}
                {{ $platinum := "clear" }} {{ if .platinum }} {{ $platinum = "done" }} {{ end }}

                <div class="Rtable-cell prodLevel1"><div><i class="icon-mdi_{{ $basic }}"></i></div></div>
                <div class="Rtable-cell prodLevel2"><div><i class="icon-mdi_{{ $gold }}"></i></div></div>
                <div class="Rtable-cell prodLevel3"><div><i class="icon-mdi_{{ $platinum }}"></i></div></div>
              </div>
            {{ end }}

            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head"><b>Metrics Monitoring</b></div>
            </div>

            {{ range .Site.Data.products.supervision.metrics.items }}
              <div class="Rtable-row">
                <div class="Rtable-cell Rtable-cell-head" style="padding-left: 38px;">{{ .name }}</div>
                {{ $basic := "clear" }} {{ if .basic }} {{ $basic = "done" }} {{ end }}
                {{ $gold := "clear" }} {{ if .gold }} {{ $gold = "done" }} {{ end }}
                {{ $platinum := "clear" }} {{ if .platinum }} {{ $platinum = "done" }} {{ end }}

                <div class="Rtable-cell prodLevel1"><div><i class="icon-mdi_{{ $basic }}"></i></div></div>
                <div class="Rtable-cell prodLevel2"><div><i class="icon-mdi_{{ $gold }}"></i></div></div>
                <div class="Rtable-cell prodLevel3"><div><i class="icon-mdi_{{ $platinum }}"></i></div></div>
              </div>
            {{ end }}

            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head"><b>Database Requesting</b></div>
            </div>

            {{ range .Site.Data.products.supervision.database.items }}
              <div class="Rtable-row">
                <div class="Rtable-cell Rtable-cell-head" style="padding-left: 38px;">{{ .name }}</div>
                {{ $basic := "clear" }} {{ if .basic }} {{ $basic = "done" }} {{ end }}
                {{ $gold := "clear" }} {{ if .gold }} {{ $gold = "done" }} {{ end }}
                {{ $platinum := "clear" }} {{ if .platinum }} {{ $platinum = "done" }} {{ end }}

                <div class="Rtable-cell prodLevel1"><div><i class="icon-mdi_{{ $basic }}"></i></div></div>
                <div class="Rtable-cell prodLevel2"><div><i class="icon-mdi_{{ $gold }}"></i></div></div>
                <div class="Rtable-cell prodLevel3"><div><i class="icon-mdi_{{ $platinum }}"></i></div></div>
              </div>
            {{ end }}

            <div class="Rtable-row">
              <div class="Rtable-cell tableTitre"><h2>Alerting templates</h2></div>
            </div>

            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head"><b>Notifications</b></div>
            </div>

            {{ range .Site.Data.products.alerts.notify.items }}
              <div class="Rtable-row">
                <div class="Rtable-cell Rtable-cell-head" style="padding-left: 38px;">{{ .name }}</div>
                {{ $basic := "clear" }} {{ if .basic }} {{ $basic = "done" }} {{ end }}
                {{ $gold := "clear" }} {{ if .gold }} {{ $gold = "done" }} {{ end }}
                {{ $platinum := "clear" }} {{ if .platinum }} {{ $platinum = "done" }} {{ end }}

                <div class="Rtable-cell prodLevel1"><div><i class="icon-mdi_{{ $basic }}"></i></div></div>
                <div class="Rtable-cell prodLevel2"><div><i class="icon-mdi_{{ $gold }}"></i></div></div>
                <div class="Rtable-cell prodLevel3"><div><i class="icon-mdi_{{ $platinum }}"></i></div></div>
              </div>
            {{ end }}

            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head"><b>Message Publishing</b></div>
            </div>

            {{ range .Site.Data.products.alerts.message.items }}
              <div class="Rtable-row">
                <div class="Rtable-cell Rtable-cell-head" style="padding-left: 38px;">{{ .name }}</div>
                {{ $basic := "clear" }} {{ if .basic }} {{ $basic = "done" }} {{ end }}
                {{ $gold := "clear" }} {{ if .gold }} {{ $gold = "done" }} {{ end }}
                {{ $platinum := "clear" }} {{ if .platinum }} {{ $platinum = "done" }} {{ end }}

                <div class="Rtable-cell prodLevel1"><div><i class="icon-mdi_{{ $basic }}"></i></div></div>
                <div class="Rtable-cell prodLevel2"><div><i class="icon-mdi_{{ $gold }}"></i></div></div>
                <div class="Rtable-cell prodLevel3"><div><i class="icon-mdi_{{ $platinum }}"></i></div></div>
              </div>
            {{ end }}

            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head"><b>Webhooks</b></div>
            </div>

            {{ range .Site.Data.products.alerts.webhook.items }}
              <div class="Rtable-row">
                <div class="Rtable-cell Rtable-cell-head" style="padding-left: 38px;">{{ .name }}</div>
                {{ $basic := "clear" }} {{ if .basic }} {{ $basic = "done" }} {{ end }}
                {{ $gold := "clear" }} {{ if .gold }} {{ $gold = "done" }} {{ end }}
                {{ $platinum := "clear" }} {{ if .platinum }} {{ $platinum = "done" }} {{ end }}

                <div class="Rtable-cell prodLevel1"><div><i class="icon-mdi_{{ $basic }}"></i></div></div>
                <div class="Rtable-cell prodLevel2"><div><i class="icon-mdi_{{ $gold }}"></i></div></div>
                <div class="Rtable-cell prodLevel3"><div><i class="icon-mdi_{{ $platinum }}"></i></div></div>
              </div>
            {{ end }}

            <div class="Rtable-row">
              <div class="Rtable-cell tableTitre"><h2>Support Response Time</h2></div>
            </div>

            {{ range .Site.Data.products.support.items }}
              <div class="Rtable-row">
                <div class="Rtable-cell Rtable-cell-head">{{ .name }}</div>

                <div class="Rtable-cell prodLevel1"><div>{{ .basic }}</div></div>
                <div class="Rtable-cell prodLevel2"><div>{{ .gold }}</div></div>
                <div class="Rtable-cell prodLevel3"><div>{{ .platinum }}</div></div>
              </div>
            {{ end }}
          </div>
        </div>

        <div class="caleBt">
          <a data-fancybox="" data-type="iframe" href="/contact" class="lkMore lkTalk">
            I want to know more about your products
          </a>
        </div>
      </div>
    </div>
  </div>
{{ end }}