{{ define "main" }}
  <div class="mainContent">
    <div class="content">
      <div class="biTitre">
        <h1>Subscriptions</h1>
        <i class="icon-mdi_grade"></i>
        <a href="/products">Products</a>
        <i class="icon-mdi_grade"></i>
        <a href="/services">Services</a>
      </div>

      <div class="blk">
        <ls-kubesubscriptions></ls-kubesubscriptions>
      </div>

      <div class="caleBt">
        <a data-fancybox="" data-type="iframe" href="/contact" class="lkMore lkTalk">
          I want to know more about your subscriptions
        </a>
      </div>
    </div>
  </div>
{{ end }}