
{{ define "main" }}
  <div class="mainContent">
    <div class="content">
      <div class="biTitre">
        <h1>Subscriptions</h1>
        <i class="icon-mdi_grade"></i>
        <a href="/products">Products</a>
        <i class="icon-mdi_grade"></i>
        <a href="/services">Services</a>
      </div>

      <div class="blk">
        <div class="dispoTable">
          <div class="Rtable Rtable--{{ add (len .Site.Data.subscriptions.plans2.subscription)  1 }}cols">
            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-thead"></div>
              {{ range $.Site.Data.subscriptions.plans2.subscription }}
              <div class="Rtable-cell Rtable-cell-thead {{ .custom_css }}">
                <h2> {{ .name }}</h2>
              </div>   
              {{ end }}
            </div>

            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head"></div>
              {{ range $.Site.Data.subscriptions.plans2.subscription }}
                <div class="Rtable-cell {{ .custom_css }}"><div class="prodPrice">{{ .icon }}</div></div>
              {{ end }}
            </div>

            <div class="Rtable-row">
              <div class="Rtable-cell tableTitre"><h2>Offres</h2></div>
            </div>

            {{ range .Site.Data.subscriptions.plans2.features }}
            {{ $feature := . }}
            <div class="Rtable-row">
              <div class="Rtable-cell Rtable-cell-head">{{ $feature }}</div>
              {{ range $.Site.Data.subscriptions.plans2.subscription }}
                <div class="Rtable-cell {{ .custom_css }}">
                  <div class="prodPrice">
                    {{ $description := index . $feature }}
                    {{ if eq $description true }}           
                      <i class="icon-mdi_done"></i>
                    {{ else if eq $description false }}
                    <i class="icon-mdi_clear"></i>
                    {{ else }}
                    {{ $description | markdownify }}
                    {{ end }}
                  </div>
                </div>
              {{ end }}
            </div>
            {{ end }}

            <div class="caleBt">
              <a data-fancybox="" data-type="iframe" href="/contact" class="lkMore lkTalk">
                I want to know more about your subscriptions
              </a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
