{{ define "main" }}
  <section class="container mt-6">
    <div class="columns is-centered">
      {{ range $page := .Pages }}
        <div class="column">
          <article class="panel has-background-white is-flex is-flex-direction-column is-full-height">
            <a class="panel-heading has-background-gunpowder has-text-white has-text-centered" href="{{ $page.RelPermalink }}">
              <img class="mr-1" src="/img/white-cube.svg" alt="" style="height: 1em;"/>
              {{ $page.Title }}
            </a>

            <div class="panel-block">
              <h4 class="subtitle is-size-4">Features</h4>
            </div>
            {{ range $feature := .Site.Data.product.features.available }}
              {{ if (in $page.Params.features $feature.key) }}
                <div class="panel-block px-5 has-text-success" style="width: 100%;">
                  <span class="panel-icon has-text-success">
                    <i class="{{ $feature.icon }}"></i>
                  </span>
                  <p class="is-block" style="width: 100%;">
                    {{ $feature.displayName }}
                    <span class="is-pulled-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>
              {{ else }}
                <div class="panel-block px-5 has-text-danger" style="width: 100%;">
                  <span class="panel-icon has-text-danger">
                    <i class="{{ $feature.icon }}"></i>
                  </span>
                  <p class="is-block" style="width: 100%;">
                    {{ $feature.displayName }}
                    <span class="is-pulled-right">
                      <i class="fas fa-times"></i>
                    </span>
                  </p>
                </div>
              {{ end }}
            {{ end }}

            <div class="panel-block mt-5">
              <h4 class="subtitle is-size-4">Services</h4>
            </div>
            {{ range $service := .Site.Data.product.services.available }}
              {{ if (in $page.Params.services $service.key) }}
                <div class="panel-block px-5 has-text-success" style="width: 100%;">
                  <span class="panel-icon has-text-success">
                    <i class="{{ $service.icon }}"></i>
                  </span>
                  <p class="is-block" style="width: 100%;">
                    {{ $service.displayName }}
                    <span class="is-pulled-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>
              {{ else }}
                <div class="panel-block px-5 has-text-danger" style="width: 100%;">
                  <span class="panel-icon has-text-danger">
                    <i class="{{ $service.icon }}"></i>
                  </span>
                  <p class="is-block" style="width: 100%;">
                    {{ $service.displayName }}
                    <span class="is-pulled-right">
                      <i class="fas fa-times"></i>
                    </span>
                  </p>
                </div>
              {{ end }}
            {{ end }}

            <div class="panel-block" style="border-bottom: 0;">
              <div class="container">
                <div class="content">
                  <div class="has-text-centered m-5">
                    <a class="button call-to-action" href="{{ $page.Params.call_to_action.url }}">
                      {{ $page.Params.call_to_action.label | safeHTML }}
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-block">
              <div class="container">
                <div class="content">
                  <p class="has-text-right">
                    <a href="{{ $page.RelPermalink }}">Read more</a>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      {{ end }}
    </div>
  </section>

  <section class="container mt-6">
    <div class="document-container">
      <div class="content p-6" id="document">
        {{ .Content }}

        <hr/>
      </div>
    </div>
  </section>

  {{ partial "views/offers/compare-kubirds.html" . }}
  {{ partial "views/offers/radar.html" . }}
{{ end }}
