<section class="hero is-large has-carousel is-hidden-touch">
  <div class="carousel hero-carousel" data-carousel-options="{{ .Page.Params.schema.carousel | jsonify }}">
    {{ range $slideIndex, $slide := .Page.Params.schema.slides }}
      <div class="item-{{ $slideIndex }}">
        <div class="container has-text-centered">
          <p class="title is-size-3 is-spaced">{{ $slide.caption }}</p>
          <p class="subtitle"><img src="{{ $slide.url }}" /></p>
        </div>
      </div>
    {{ end }}
  </div>
  <div class="hero-head"></div>
  <div class="hero-body"></div>
  <div class="hero-foot"></div>
</section>
<section class="hero is-medium is-hidden-desktop">
  <div class="hero-body">
    {{ range $slide := first 1 .Page.Params.schema.slides }}
      <div class="container has-text-centered">
        <p class="title is-size-3 is-spaced">{{ $slide.caption }}</p>
        <p class="subtitle"><img src="{{ $slide.url }}" /></p>
      </div>
    {{ end }}
  </div>
  </div>
</section>
