<link rel="icon" type="image/svg" href="/gfx/Favicon_Kubevisor.svg" />
<link rel='stylesheet' id='google-fonts-css'  href='https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap' type='text/css' media='all' />
<link rel='stylesheet' id='main-css'  href='/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css'  href='/css/tabs.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css'  href='/css/tutorial-link.css' type='text/css' media='all' />
