<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "core/metadata.html" . }}
    {{ partial "core/css.html" . }}
    {{ partial "core/scripts.html" . }}
  </head>
  <body>
    {{ partial "core/web-components.html" . }}

    {{ partial "views/home/landing.html" . }}
    {{ partial "views/home/video.html" . }}
    {{ partial "views/home/schemas.html" . }}
    {{ partial "views/home/preview.html" . }}
    {{ partial "views/home/nav.html" . }}
    {{ partial "views/home/newsletter.html" . }}
  </body>
</html>
