{{ $propname := .Get 0 }}
{{ $tabs := $.Page.Param $propname }}

<div class="embed-tabs">
    <nav>
        <div class="ul">
            {{ range $tabs }}
                <div class="li">
                    <a data-ref="{{ .ref }}">{{ .title }}</a>
                </div>
            {{ end }}
        </div>
    </nav>

    <div class="content">
        {{ range $tabs }}
            <div class="tab" data-ref="{{ .ref }}">{{ .content | markdownify }}</div>
        {{ end }}
    </div>
</div>

<script type="application/javascript">
const tabElements = $('.embed-tabs');
tabElements.find($('nav .ul .li a')).click(function() {
    const link = $(this);
    const ref = link.data('ref');

    tabElements.find($('nav .ul .li')).removeClass('is-active');
    link.parent().addClass('is-active');

    tabElements.find($('.content .tab')).removeClass('is-active');
    tabElements.find($(`.content .tab[data-ref='${ref}']`)).addClass('is-active');
});
tabElements.map((index, element) => {
    const tab = $(element);
    $(tab.find($('nav .ul .li'))[0]).addClass('is-active');
    $(tab.find($('.content .tab'))[0]).addClass('is-active');
});
</script>

<style type="text/css">
.embed-tabs nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.embed-tabs nav .ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
}

.embed-tabs nav .ul .li {
    display: block;
}

.embed-tabs nav .ul .li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    vertical-align: top;
    border-bottom: 1px solid #5C5757;
    color: #5C5757;
}

.embed-tabs nav .ul .li a:hover {
    border-bottom: 1px solid #DF4F50;
    color: #DF4F50;
}

.embed-tabs nav .ul .li.is-active a {
    border-bottom: 1px solid #DF4F50;
    color: #DF4F50;
}

.embed-tabs .content {
    display: block;
    margin-top: 3em;
}

.embed-tabs .content .tab {
    display: none;
}

.embed-tabs .content .tab.is-active {
    display: block;
}

</style>