{{ define "main" }}
  <section class="container p-6">
    <div class="is-size-4 is-pulled-left">
      <a class="has-text-dark" href="{{ .Parent.RelPermalink }}">
        <i class="fas fa-chevron-left"></i>
      </a>
    </div>
    <h2 class="title has-text-centered is-family-monospace has-text-dark">
      {{ partial "components/breadcrumbs.html" (dict "context" . "url" .RelPermalink) }}
    </h2>
  </section>
  <section class="container p-6">
    <form action="/search">
      <input name="s" value="integrations" type="hidden" />

      <div class="field has-addons">
        <div class="control has-icons-left is-expanded">
          <input name="q" class="input is-large is-success" type="text" placeholder="Type your search" />
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <div class="control">
          <button type="submit" class="button is-large is-success">
            Search
          </button>
        </div>
      </div>
    </form>
  </section>
  <section class="container p-6">
    <div class="columns is-centered is-vcentered is-multiline">
      {{ range .Pages }}
        <div class="column is-one-quarter">
          <div class="container has-background-white">
            {{ if .Params.wip }}
              <div style="position: absolute; bottom: 0; right: 0;">
                <span class="tag is-danger is-radiusless">
                  Coming soon
                </span>
              </div>
            {{ end }}

            <div class="p-6 has-text-centered">
              <a href="{{ .RelPermalink }}">
                <img src="{{ .Params.logo }}" alt="{{ .Title }}" style="height: 50px;" />
              </a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}